.bgimg{
	background-image: url('pic1.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 740px;

}
.headerset{
	padding-top: 350px;
	box-sizing: border-box; 
}
.headerset h2{
	font-size: 42px;
}
.headerset h1{
	font-size: 62px;
	font-weight: bold;
}
.ourservice{
	padding: 100px 0px 60px;
	height: 500px;
}
.ourservice h1{
	font-size: 50px;
	font-weight: bold;
}
.rowset{
	margin: 80px 0px !important;
}
.imgset{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top: 20px;
}
.fa-cutlery{
	margin-top: 20px;
}
.fa-film{
	margin-top: 20px;
}
.rowset p{
	padding: 15px;
	color: #6c757d;
}
.portfolio{
	/* margin-top: 20px; */
		height: 1100px;

	padding: 100px 0px 50px;
	width: 100%;
}
.card{
	margin-top :40px ;
}
.ourteam{
	height: 700px;
	padding: 100px 0px 60px;
	width: 100%;
}
.ourteam h1{
	font-size: 30px;
	font-weight: bold;
}
.Contact{
	width: 85%;
	max-width:600px;
	background:#f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 30px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
}
.contact h1{
	margin: 0;
	font-weight: 300;
}
.txt
{
	border:1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}
.txt label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}
.txt input,.txt textarea{
	width: 100%;
	border:none;
	background:none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}
.subm{
	display: inline-block;
	background:#9b59b6;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;

}
.subm:hover{
background-color: #f44336;
cursor: pointer;
}
.footer{
	font-size: 50px;
	background: #000;
	padding: 50px 0 0;
}
.sci{
	margin: 0;
	padding: 0;display: flex;
	justify-content: center;
	align-items: center;
}
.sci li{
	list-style: none;
	margin-top: 0 20px;
	width: 40px;
}
.sci li a{
	color: #777;
	font-size:2em;
	transition: 0.5s;

}
.sci li a:hover{
	color: #fff;
}
.footer h6:hover{
color: #fff;
}
.footer .fa-facebook{
	font-size: 20px;
}
.footer .fa-instagram{
	font-size: 20px;
}
.footer .fa-twitter{
	font-size: 20px;
}
.footer .fa-linkedin{
	font-size: 20px;
}
.footer .fa-twitter{
	font-size: 20px;
}
.footer .fa-github{
	font-size:20px;
}
.footer h6{
	line-height: 50px;
}
@media(min-width: 992px)
{

}
@media(min-width: 768px) and (max-width: 991px)
{
	.headerset h2{
		font-size: 32px;
	}
	.headerset h1{
		font-weight: bold;
		font-size: 72px;
	}
}
@media(min-width: 575px) and (max-width:767px )
{
	
}
@media(min-width: 480px) and (max-width: 574px)
{
	
}
@media(min-width: 300px) and (max-width: 479px)
{

}
@media(min-width: 299px)
{
.headerset h2{
font-size: 22px
}	
.headerset h1{
	font-weight: bold;
	font-size:32px;

}
.ourservice{
	height: 1200px;
}
.portfolio{
	height: 2700px;
}
/* .portfolio{
	height: 2600px;
} */
.ourteam{
	height: 1400px;
}

}